librosa
pandas 
transformers
torch
#libsndfile
# database request libs
pyarrow
fastparquet

# hpo libs
# optuna
# ray[tune]
# hyperopt
# ax-platform 
# botorch
# wandb 
pyarrow
scikit-learn


speechbrain

datasets
# to remove
matplotlib
numpy
